.padding-0{
	padding: 0;
}
.padding-left-0{
	padding-left:0;
}
.margin-left-0{
	margin-left: 0;
}
.padding-right-0{
	padding-right: 0;
}
.margin-right-0{
	margin-left: 0;
}
.padding-t-r-b-0{
	padding: 0px 0px 0px 15px;
}
.padding-t-b-l-0{
	padding: 0px 15px 0px 0px ;
}
.padding-t-r-b-l-0{
	padding: 0px 0px 0px 0px ;
}